.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 колонки */
  gap: 16px;
  padding: 16px;
  list-style: none;
  justify-content: center;
  max-width: 1600px;
  margin: 0 auto;
}
  
  .galleryItem {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
